// Kolore batzuk

urdina = #51BDFB
urdina2 = #33CCFF
grisa = #eee
// Border radius prefijoak

border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

// Ikonoak

@import fonts

body
	background urdina
	font-size 16px
	font-family Open Sans, sans-serif
	text-align center
	height 100%
	overflow hidden
	width 100%

	header
		color #FFFFFF
		height 10%
		padding 0	
		width 100%
		figure	
			img
				width 200px
		figure, h1
			text-align left
		figure, nav, h1
			display inline-block
			vertical-align middle
		nav
			ul
				li
					display inline-block
					margin-left 0.5 em
					list-style none
					
					
	#bilaketa-kuadroa
		background none repeat scroll 0 0 #FFFFFF
		border 1px solid #8D8D8D
		border-radius (5px)
		box-shadow 1px 1px 2px #999999 inset
		padding 0.2em	
	
	#honi_buruz
		cursor pointer
	#joerak
		display none
	#lupa
		cursor pointer
		margin-left 0.5em
	#mapa
		position absolute
		height 90%
		width  100%


/*@import responsive*/
	
