@media (max-width:320px)
	body
		#mapa
			border-radius (0px)
			height 400px
			margin-top 0
			width 100%



@media (max-width:480px)
	body
		header
			h1
				font-size 1 em
				margin 0
			nav
				ul
					margin 0

		#mapa
			border-radius (0px)
			height 210px
			margin-top 0
			width 100%


@media (min-width:768px)
	body
		background red
		header
			nav
				margin-left 10%
	#logo
		width 7%

@media (min-width:1024px)
	body
		background green
		header
			nav
				margin-left 20%
	#logo
		width 7%
@media (min-width:1200px)
	body
		background blue
		header
			nav
				margin-left 30%
	#logo
		width 7%
